.footer {
  background: 
  black;
  height: 40px;
  /* position: absolute; */
  /* bottom: 0; */
  /* position: fixed; */
  /* bottom: 0; */
  color: white;
  overflow: auto;
}

.bottom {
  height: 40px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background:black;
  padding: 8px;
  font-weight: 600;
}

.bottom > img {
  width: 20px;
  position: relative;
  top: 3px;
  left: 2px;
}
